<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Patient History</title>
		<link rel="stylesheet" href="../static/styles/header.css">
 		<link rel="stylesheet" href="../static/styles/doctorsection.css">
	</head>
	<body>
		<div class="header">
			<header>
				<img src="../static/images/clinic.png" alt="Clinic Logo">
				<h1>Patient History</h1>
				<div class="nvg">
                        		<a href="/home">HOME</a>
					<a href ="/reception">RECEPTION</a>
					<a href="/doctor">DOCTOR</a>
				</div>
			</header>
		</div>
		<div class="welcomeMessage">
			<h1>Appointment Session Information Form</h1>
		</div>
		<div class="forms">
			<form action="#" method="POST">
				<label for="doctorname">Dotors Name:</label><br>
				<input type="text" id="name" name="doctorname" placeholder="Enter name..." required><br>
				<label for="labtests">Laboratory tests:</label><br>
				<input type="text" name="labtests" placeholder="Enter info..." required><br>
				<label for="labresults">Laboratory results:</label><br>
                                <input type="text" name="labresults" placeholder="Enter info..." required><br>
                                <label for="diagnosis">Diagnosis:</label><br>
				<input type="text" name="diagnosis" placeholder="Enter info..." required><br>
				<label for="treatment">Treatment:</label><br>
				<input type="text" name="treatment" placeholder="Enter info..." required><br>
				<label for="prescription">Prescription:</label><br>
                                <input type="text" name="prescription" placeholder="Enter info..." required><br>
				<br>
				<button type="submit" formmethod="post">Submit Form</button>
			</form>	
		</div>
		<div class="info">
			<h1>Get Patient's Information</h1>
		</div>
		<div class="getInfo">
                        <form action="/doctor" method="GET">
                                <input type="number" name="getinfo" placeholder="Enter phone number" required>
                                <br>
                                <br>
                                <button type="submit" formmethod="get">Get Info</button>
                        </form>
                </div>

	</body>
</html>
