<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Patient History</title>
		<link rel="stylesheet" href="../static/styles/header.css">
 		<link rel="stylesheet" href="../static/styles/homesection.css">
	</head>
	<body>
		<header>
			<img src="../static/images/clinic.png" alt="Clinic Logo">
			<h1>Patient History</h1>
			<div class="nvg">
                        	<a href="home.html">HOME</a>
				<a href ="reception.html">RECEPTION</a>
				<a href="doctor.html">DOCTOR</a>
			</div>
		</header>
		<section class="welcome">
			<div class="welcomeMessage">
				<h1>Welcome!</h1> 
				<h1>Please select your role...</h1>
			</div>
		</section>
		<section class="roles">
			<a href="reception.html">Receptionist</a>
			<a href="doctor.html">Doctor</a>
		</section>
	</body>
</html>
