.background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url("../images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
        opacity: 0.6;
        z-index: -1;
}

.welcomeMessage {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 3em;
}
.welcomeMessage h1 {
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 2.5em;
	margin-bottom: 1em;
}

.roles {
	display: block;
	width: 100%;
	margin-top: 5em;
	font-size: 2em;
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
	color: white;
}

.roles a {
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin-left: 3.5em;
	margin-right: 3.5em;
	border-radius: 15px;
	background-color: #2a0254;
	color: white;
}

@media only screen and (max-width: 780px) {
        .welcomeMessage h1 {
                font-size: 2em !important;
        }
	.roles {
		font-size: 1.5em !important;
	}
	.roles a {
		margin-left: 2em;
		margin-right: 2em;
	}
}
@media only screen and (max-width: 480px) {
	.background {
		background-size: auto !important;
	}
	.roles {
		font-size: 1.5em !important;
	}
	.roles a {
		padding: 0;
		margin-left: 1em !important;
		margin-right: 1em !important;
		border-radius: 8px;
	}
}

