.background {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 100%;
	background-image: url("../images/reception.png");
	opacity: 0.6;
	z-index: -1;
}
.welcomeMessage {
	display: block;
	width: 100%;
	text-align: center;
}
.welcomeMessage h1 {
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 2.2em;
	color: #63036e;
}

.forms {
	display: block;
	width: 100%;
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
}


.forms label {
	border-top: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	background-color: #D3D3D3;
	padding: 0.2em 0.2em 0.2em 0.2em;
}	

.forms input, .getInfo input {
	width: 20%;
	padding: 0.2em 0.2em;
	margin-top: 0.4em;
	margin-bottom: 0.5em;
	border: 1px solid black;
	border-bottom: 2px solid green;
	border-radius: 5px;
	transition: width 0.4s ease-in-out;
	font-size: 1em;
}

.forms button, .getInfo button {
	background-color: #04AA6D;
	border: 3px groove #e6a22e;
	border-radius: 8px;
	cursor: pointer;
	font-size: 2.5vmin;
	color: white;
}

.info {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 3em;
}

.info h1 {
	font-family:  Comic Sans MS, Comic Sans, cursive;
	font-size: 2.2em;
	color: #63036e;
}

.getInfo {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 5em;
}

.forms input:focus, .getInfo input:focus {
  width: 25%;
  height: 2em;
}

@media only screen and (max-width: 800px) {
	.forms input, .getInfo input {
		width: 40%;
	}

        .welcomeMessage h1, .info h1 {
                font-size: 1.8em !important;
        }
}

@media only screen and (max-width: 600px) {
	.welcomeMessage h1, .info h1 {
		font-size: 1.6em !important;
	}
	
	.forms input, .getInfo input {
		width: 35% !important;
		font-size: 3vmin !important;
	}
	button {
		font-size: 3.5vmin !important;
	}
}
